# Expo
.expo/
web-build/
dist/

# Node
node_modules/
npm-debug.*
yarn-debug.*
yarn-error.*

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# macOS
.DS_Store
*.pem

# Xcode
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace

# Android/IntelliJ
build/
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/

# BUCK
buck-out/
\.buckd/
*.keystore
!debug.keystore

# Bundle artifacts
*.jsbundle
*.aab
*.apk

# VSCode
.vscode/
*.code-workspace
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Testing
coverage/
__tests__/

# Logs
logs
*.log

# Temp files
*.tmp
*.swp
*.swo

# Random
.idea
.history
.watchman-cookie*
*.pid
*.seed
*.ssh
